{% extends 'base.html' %}

{% block head %} 
<title>FavShare</title>
{% endblock %}

{% block body %} 
<div class="content">
    <h1 style="text-align: center">FavShare</h1>
    <table>
        <tr>
            <th>Date Added</th>
            <th>Name</th>
            <th>Hash</th>
        </tr>
        {% for record in records %}
            <tr>
                <td>{{ record.date_created.date() }}</td>
                <td>{{ record.name }}</td>
                <td>{{ record.hash }}</td>
                <td>
                    <a href="/delete/{{ record.id }}">Delete</a>
                    <br>
                    <a href="/update/{{ record.id }}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <form action="/" method="POST">
        <input type="text" name="name" id="name">
        <input type="text" name="hash" id="hash">
        <input type="submit" value="Add record">
    </form>
</div>


{% endblock %}